/* 
    Created on : Aug 19, 2025, 7:55:22 AM
    Author     : ane
*/

/*Splash Page*/
#splash section {
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.6;
}

section h1 {
    font-size: 4rem;
    font-family: Headings;
    border-bottom: 3px solid var(--primary);
    padding-left: 0.5vw;
    margin-bottom: 1vw;
}

/*Welcome Section*/
section#welcome {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    gap: 8vw;
    height: 50vh;
    padding: 3vw 0 10vw;
}

section#welcome div:first-of-type {
    width: 60%;
}

section#welcome img {
    width: 20vw;
}

/*Get Started Section*/
section#get-started p a {
    color: var(--accent);
    text-decoration: underline;
    transition: 0.5s;
}

section#get-started p a:hover {
    color: var(--primary);
}

section#get-started {
    border: 2px solid;
    width: 80%;
    margin: 7vw auto;
    text-align: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    padding: 4vw 0 3vw;
}

section#get-started p {
    border-bottom: 3px solid var(--primary);
    width: 80%;
    margin: 0 auto;
    padding-bottom: 4vw;
}

section#get-started h1 {
    width: 80%;
    margin: 0 auto;
}

section#get-started a#call {
    padding: 1vw;
    border-radius: 40px;
    border: 2px solid;
    width: 20%;
    margin: 0 auto;
    transition: 0.5s;
}

section#get-started a#call:hover {
    border-color: var(--secondary);
    color: var(--primary);
    background-color: var(--accent);
}

/*Offer Section*/
section#offer {
    width: 50%;
    padding: 5vw 12vw 7vw 0;
    text-align: right;
    margin-left: auto;
}

section#offer h1 {
    width: 70%;
    margin-left: auto;
}

section#offer h3 {
    font-size: 2rem;
    font-family: Headings;
    color: var(--accent);
}